.well.about-page-header
  h3.about-page-header
    | Welcome to Reductive Dehalogenases Database Version 1.0
  .container
    p#abouttext
      | The Reductive Dehalogenases Database is a freely available electronic database containing the
      |  largest and most comprehensive set of amino acid sequence and nucleotide sequence of reductive
      |  dehalogenase enzymes.  In 2013, 
      a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3638463/' target="_blank" Hug et al.
      |  developed an ortholog-based
      |  classification system for reductive dehalogenases by defining orthologous groups (OG), in order
      |  to integrate new sequencing data and unify the terminology used, especially for reductive
      |  dehalogenases whose functions are unknown. The Reductive Dehalogenases Database is a tool to help the 
      |  analysis and facilitate OG- classification of new reductive dehalogenases.
      a href="/about"  Read more about the database.
.home-banner
  = image_tag "Orthologydb_logo.png", style: 'height:70%; width:auto;'
  .banner-text
    .link-bar.one
      .link-text
        p
          span style="font-size:20px; font-weight: bold;" Quick Start
    .link-bar.two
      .link-text
        p
          | Browse and 
          a href="/downloads" download 
          | the reductive dehalogenase
          a href="/protein"  sequences
          |  and 
          a href="/compound" compounds
          |  databases

    .link-bar.three
      .link-text
        p
          a href="/search"  Blast
          |  your amino acid sequence to identify ortholog group.
    .link-bar.four
      .link-text
        p
          a href="/submit_sequence"  Submit
          |  sequences to our database.


h3.about-page-header Citing the Reductive Dehalogenases Database
#abouttext2
  p#theabouttext
    | The Reductive Dehalogenases Database is offered to the public as a freely available resource. 
    | Use and re-distribution of the data, in whole or in part, for commercial purposes 
    | requires explicit permission of the authors and explicit acknowledgment of the source 
    | material (Reductive Dehalogenases Database) and the original publication (see below). We ask that 
    | users who download significant portions of the database cite the following paper in 
    | any resulting publications.
  hr/
  h4 Please Cite:
  p 1. J Doe, et al., Sample Paper 2019, Potential Journal